.login {
  height: 50vh;
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.login__text{
  color:#FFFFFF;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

.login__container {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e1e;
  padding: 30px;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  width: 50vh;
  border-radius: 25px;
  margin-bottom: 10px;
}

.login__google {
  background-color: #FFFFFF;
  padding: 10px;
  width: 50vh;
  height: min-content;
  font-size: 20px;
  border-radius: 25px;
  color:#1E1E1E;
  text-align: center;
}
