.header {
  height: 100%;
  width: fit-content;
  align-items: left;
  padding-left: 43px;
  position: sticky;
  padding-top: 30px;
  z-index: 6;
}

.nav_div{
  display: flex;
  flex-direction:column;
}

.header h1{
  font-size: 40;
  text-decoration: none;
}

.header a{
  font-size: 40;
  color: #FFFFFF;
  text-decoration: none;
}

.header a:hover{
  font-size: 40;
  color: #1982FC;
  text-decoration: none;
}

.logout_btn{
  color:#FFFFFF
}

.logout_btn:hover {
  color: #1982FC;
  font-weight: 800;
}
