.profile__minutes-this-month{
    display: block;
    text-align: center;
}

.profile__books-this-month{
    display: block;
    text-align: center;
}


.profile__days-in-a-row{
    display: block;
    text-align: center;
}

.profile__reading-stats{
    display: flex;
    width: 500px;
    justify-content: space-between;

}