.login {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #1e1e1e1e;
    padding: 30px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    width: 50vh;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  
  .login__btn {
    
  }

  .login__btn:hover {
    transform: scale(1.05) perspective(1px);
  }

  .login__google {
    background-color: #1e1e1e;
  }

  .login div {
    margin-top: 7px;
  }